@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

* {
   box-sizing: border-box;
   margin: 0;
}

body {
   font-family: "Roboto", sans-serif;
   font-size: 18px;
}

a {
   text-decoration: none;
   color: inherit;
}

.nav {
   height: 50px;
   background-color: #003580;
   display: flex;
   justify-content: center;

   &__items {
      &-btn {
         margin-left: 20px;
         border: none;
         padding: 10px 15px;
         cursor: pointer;
         color: #003580;
         font-size: 14px;
         font-weight: 500;
      }
   }
}

.container {
   width: 100%;
   max-width: 1024px;
   color: #fff;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-top: 10px;
}

.logo {
   font-size: 24px;
   font-weight: 500;
}

.header {
   background-color: #003580;
   display: flex;
   justify-content: center;
   color: #fff;
   position: relative;

   .container {
      display: block;
      margin: 20px 0 50px;
   }

   &__list {
      display: flex;
      flex-wrap: wrap;
      gap: 40px;
      margin-bottom: 50px;

      &-item {
         display: flex;
         align-items: center;
         gap: 10px;
         cursor: pointer;
      }

      .active {
         border: 1px solid #fff;
         padding: 10px;
         border-radius: 20px;
      }
   }

   .list-mode {
      margin-bottom: 20px;
   }

   &__desc {
      margin: 20px 0;
   }

   &__btn {
      background-color: #0071c2;
      color: #fff;
      font-weight: 700;
      border: none;
      padding: 15px 20px;
      cursor: pointer;
      font-size: 16px;
   }

   &__search {
      background-color: #fff;
      border: 3px solid #febb02;
      display: flex;
      align-items: center;
      border-radius: 5px;
      position: absolute;
      bottom: -35px;
      width: 100%;
      max-width: 1024px;

      :last-child {
         border: none;
         padding: 5px;
      }

      &-item {
         display: flex;
         align-items: center;
         gap: 10px;
         border-right: 3px solid #febb02;
         padding: 15px;

         &__input {
            border: none;
            outline: 0;
            font-size: 16px;
            width: 273px;
         }

         &__icon {
            color: lightgray;
            font-size: 16px;
         }

         &__text {
            color: #333;
            cursor: pointer;
            font-size: 16px;
         }
      }
   }

   &__btn {
      padding: 10px 15px;
      width: 150px;
      height: 49px;
   }

   .date {
      position: absolute;
      top: 50px;
      z-index: 2;
   }

   .options {
      z-index: 2;
      position: absolute;
      top: 60px;
      background-color: #fff;
      color: #333;
      border-radius: 5px;
      box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.4);
   }
   .option__item {
      width: 200px;
      display: flex;
      justify-content: space-between;
      margin: 10px;

      &-counter {
         display: flex;
         align-items: center;
         gap: 10px;
         color: #000;

         &__button {
            width: 30px;
            height: 30px;
            border: 1px solid #0071c2;
            color: #0071c2;
            cursor: pointer;
            background-color: #fff;

            &:disabled {
               cursor: not-allowed;
            }
         }
      }
   }
}

.home__container {
   margin-top: 60px;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 30px;
}

.featured {
   width: 100%;
   max-width: 1024px;
   display: flex;
   justify-content: space-between;
   gap: 20px;
   z-index: 1;

   &__item {
      position: relative;
      color: #fff;
      border-radius: 10px;
      overflow: hidden;
      height: 250px;
      flex: 1;
   }
   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
   }

   &__title {
      position: absolute;
      bottom: 25px;
      left: 20px;

      h1 {
         text-transform: capitalize;
      }
   }
}

.home__title {
   width: 1024px;
   font-size: 20px;
}

.property {
   width: 100%;
   max-width: 1024px;
   display: flex;
   justify-content: space-between;
   gap: 20px;

   &__item {
      flex: 1;
      border-radius: 10px;
      overflow: hidden;
      cursor: pointer;

      &-img {
         width: 100%;
         height: 150px;
         object-fit: cover;
      }

      h1 {
         font-size: 18px;
         color: #444;
         text-transform: capitalize;
      }

      h2 {
         font-size: 14px;
         font-weight: 300;
      }
   }
}

.fp {
   width: 100%;
   max-width: 1024px;
   display: flex;
   justify-content: space-between;
   gap: 20px;

   &__item {
      flex: 1;
      gap: 10px;
      display: flex;
      flex-direction: column;

      &-img {
         width: 100%;
         height: 250px;
         object-fit: cover;
         cursor: pointer;
      }

      &-name {
         color: #333;
         font-weight: bold;
      }

      &-city {
         font-weight: 300;
         text-transform: capitalize;
      }

      &-price {
         font-weight: 500;
      }

      button {
         background-color: #003580;
         color: #fff;
         border: none;
         padding: 3px;
         margin-right: 10px;
         font-weight: bold;
      }

      &-rating {
         span {
            font-size: 14px;
         }
      }
   }
}

.newsletter {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   width: 100%;
   color: #fff;
   margin-top: 50px;
   background-color: #003580;
   padding: 50px;

   input {
      width: 300px;
      height: 50px;
      padding: 10px;
      border: 0;
      outline: 0;
      margin-right: 10px;
      border-radius: 5px;
      font-size: 16px;
   }

   button {
      height: 50px;
      background-color: #0071c2;
      color: #fff;
      font-weight: 500;
      font-size: 16px;
      border: 0;
      border-radius: 5px;
      cursor: pointer;
   }
}

.footer {
   width: 1024px;

   &__lists {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 50px;

      &-list {
         padding: 0;

         &__item {
            list-style: none;
            margin-bottom: 10px;
            color: #003580;
            cursor: pointer;
         }
      }
   }
}

.list {
   display: flex;
   justify-content: center;
   margin-top: 20px;

   &__wrapper {
      width: 100%;
      max-width: 1024px;
      display: flex;
      gap: 20px;
   }

   &__search {
      flex: 1;
      background-color: #febb02;
      padding: 10px;
      border-radius: 10px;
      position: sticky;
      top: 10px;
      height: max-content;

      &-title {
         font-size: 20;
         color: #555;
         margin-bottom: 10px;
      }

      &-item {
         display: flex;
         flex-direction: column;
         gap: 5px;
         margin-bottom: 10px;

         label {
            font-size: 14px;
         }

         input {
            height: 30px;
            border: none;
            padding: 5px;
         }

         .date {
            height: 30px;
            padding: 5px;
            background-color: #fff;
            display: flex;
            align-items: center;
            cursor: pointer;
         }
      }

      &-options {
         padding: 10px;

         &__item {
            display: flex;
            justify-content: space-between;
            margin-bottom: 10px;
            color: #555;
            font-size: 14px;

            &-input {
               width: 50px;
            }
         }
      }

      &-btn {
         padding: 10px;
         background-color: #0071c2;
         color: #fff;
         border: none;
         width: 100%;
         font-weight: 500;
         cursor: pointer;
         font-size: 16px;
      }
   }

   &__result {
      flex: 3;
   }
}

.search__item {
   border: 1px solid lightgray;
   padding: 10px;
   border-radius: 5px;
   display: flex;
   justify-content: space-between;
   gap: 20px;
   margin-bottom: 20px;

   &-img {
      width: 200px;
      height: 200px;
      object-fit: cover;
      border-radius: 5px;
   }

   &-desc {
      display: flex;
      flex-direction: column;
      gap: 10px;
      flex: 2;
   }

   &-title {
      font-size: 20px;
      color: #0071c2;
   }

   &-distance {
      font-size: 14px;
   }

   &-taxi {
      font-size: 14px;
      background-color: #008009;
      color: white;
      width: max-content;
      padding: 3px;
      border-radius: 5px;
   }

   &-subtitle {
      font-size: 14px;
      font-weight: bold;
   }

   &-cancel {
      font-size: 14px;
      color: #008009;
      font-weight: bold;

      &__subtitle {
         font-size: 14px;
         color: #008009;
      }
   }

   &-details {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__texts {
         text-align: right;
         display: flex;
         flex-direction: column;
         gap: 5px;

         &-price {
            font-size: 24px;
         }

         &-tax {
            font-size: 14px;
            color: gray;
         }

         &-btn {
            background-color: #0071c2;
            color: white;
            font-weight: bold;
            padding: 10px 5px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
         }
      }
   }

   &-rating {
      text-align: end;

      span {
         padding-right: 10px;
         font-weight: 500;
      }

      button {
         background-color: #003580;
         color: white;
         padding: 5px;
         font-weight: bold;
         border: none;
      }
   }
}

.hotel {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-top: 20px;
   gap: 30px;

   &__wrapper {
      width: 100%;
      max-width: 1024px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
   }

   &-btn {
      position: absolute;
      top: 10px;
      right: 0;
      border: none;
      padding: 10px 20px;
      background-color: #0071c2;
      color: white;
      font-weight: bold;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
   }

   &__title {
      font-size: 28px;
   }

   &__address {
      font-size: 14px;
      display: flex;
      align-items: center;
      gap: 10px;
   }

   &__distance {
      color: #0071c2;
      font-weight: 500;
   }

   &__price {
      color: #008009;
      font-weight: 500;
   }

   &__images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 5px;

      &-wrapper {
         width: 33%;
      }
   }

   &__img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      cursor: pointer;
   }

   &__details {
      display: flex;
      justify-content: space-between;
      gap: 20px;
      margin-top: 20px;

      &-texts {
         flex: 3;

         &__desc {
            margin-top: 20px;
         }
      }

      &-price {
         flex: 1;
         background-color: #ebf3ff;
         padding: 20px;
         display: flex;
         flex-direction: column;
         gap: 20px;

         .city {
            text-transform: capitalize;
         }

         h1 {
            font-size: 18px;
            color: #555;
         }

         span {
            font-size: 16px;
         }

         h2 {
            font-weight: 300;
         }

         button {
            border: none;
            padding: 10px 20px;
            background-color: #0071c2;
            color: white;
            font-weight: bold;
            cursor: pointer;
            border-radius: 5px;
            font-size: 16px;
         }
      }
   }
}

.slider {
   position: sticky;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.613);
   z-index: 999;
   display: flex;
   align-items: center;

   &__wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   &__img {
      width: 80%;
      height: 80vh;
   }
}

.close {
   position: absolute;
   top: 20px;
   right: 20px;
   font-size: 30px;
   color: lightgray;
   cursor: pointer;
}

.arrow {
   margin: 20px;
   font-size: 50px;
   color: lightgray;
   cursor: pointer;
}

.login {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;

   &__container {
      display: flex;
      flex-direction: column;
      gap: 10px;
   }

   &__input {
      height: 50px;
      padding: 20px;
      outline: 0;
   }

   &__button {
      border: none;
      padding: 10px 20px;
      background-color: #0071c2;
      color: white;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;

      &:disabled {
         background-color: #0071c28c;
         cursor: not-allowed;
      }
   }

   .reg {
      color: #0071c2;
      text-decoration: underline;
   }
}

.loader {
   display: flex;
   justify-content: center;
   align-items: center;
   margin-top: 100px;

   &-ring {
      display: inline-block;
      position: relative;
      width: 80px;
      height: 80px;

      div {
         box-sizing: border-box;
         display: block;
         position: absolute;
         width: 64px;
         height: 64px;
         margin: 8px;
         border: 8px solid #333;
         border-radius: 50%;
         animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
         border-color: #333 transparent transparent transparent;
      }
      div:nth-child(1) {
         animation-delay: -0.45s;
      }
      div:nth-child(2) {
         animation-delay: -0.3s;
      }
      div:nth-child(3) {
         animation-delay: -0.15s;
      }
   }
}

@keyframes lds-ring {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.reserve {
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.418);
   position: fixed;
   top: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: center;

   &__container {
      background-color: white;
      padding: 20px;
      position: relative;
   }

   &-close {
      position: absolute;
      top: 5px;
      right: 10px;
      cursor: pointer;
   }

   &__item {
      display: flex;
      align-items: center;
      gap: 50px;
      padding: 20px;

      &-info {
         display: flex;
         flex-direction: column;
         gap: 5px;

         &__title {
            font-weight: 500;
         }

         &__desc {
            font-weight: 300;
         }

         &__max {
            font-size: 14px;
         }

         &__price {
            font-weight: 500;
         }
      }

      &-selectRooms {
         display: flex;
         flex-wrap: wrap;
         gap: 5px;
         font-size: 12px;
         color: gray;

         .room {
            display: flex;
            flex-direction: column;
         }
      }
   }

   &-btn {
      border: none;
      padding: 10px 20px;
      background-color: #0071c2;
      color: white;
      font-weight: bold;
      cursor: pointer;
      border-radius: 5px;
      width: 100%;
      margin-top: 20px;
   }
}

@media screen and (max-width: 1040px) {
   .home__title {
      width: auto;
   }

   .header__search {
      input {
         width: auto;
      }
   }

   .footer {
      width: auto;

      &__lists {
         flex-wrap: wrap;
      }
   }

   .hotel__images {
      justify-content: space-around;
   }

   .slider__img {
      width: 100%;
   }

   .arrow {
      font-size: 35px;
   }
}

@media screen and (max-width: 800px) {
   .logo {
      font-size: 20px;
   }

   .home__container {
      padding: 0 10px;
   }

   .header__search {
      flex-direction: column;

      &-item {
         border: 3px solid #febb02;
         width: 100%;
         justify-content: center;
      }
   }

   .header__btn {
      width: 100%;
   }

   .header__list {
      margin-bottom: 220px;
   }

   .featured,
   .fp {
      flex-direction: column;
   }

   .property {
      flex-wrap: wrap;
      justify-content: space-evenly;
   }

   .newsletter__title {
      font-size: 28px;
   }

   .list {
      &__wrapper {
         flex-direction: column;
      }

      &__search {
         position: static;
      }
   }
}

@media screen and (max-width: 730px) {
   .hotel__images-wrapper {
      width: 100%;
   }

   .hotel {
      h1 {
         font-size: 24px;
      }

      p,
      span {
         font-size: 16px;
      }

      &-btn {
         top: 0;
         padding: 5px 10px;
      }
   }
   .slider__img {
      height: 50%;
   }
}

@media screen and (max-width: 510px) {
   .newsletter__input {
      display: flex;
      flex-direction: column;
      gap: 10px;

      input {
         margin-right: 0;
      }
   }

   .search__item {
      flex-direction: column;

      &-img {
         width: 100%;
      }
   }

   .hotel__details {
      flex-direction: column;
   }

   .slider__img {
      height: 35%;
   }

   .arrow {
      font-size: 25px;
   }

   .reserve__container {
      padding: 10px;
   }
}

@media screen and (max-width: 400px) {
   .header__list {
      gap: 15px;
   }

   .slider__img {
      height: 25%;
   }

   .arrow {
      font-size: 15px;
   }

   .hotel-btn {
      display: none;
   }

   .reserve__container {
      padding: 5px;
   }

   .reserve-close {
      right: 15px;
   }
}
